* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #2b2a4c;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

p,
h1 {
  color: #eee2de;
  align-self: center;
  display: flex;
  line-height: 116%; /* 17.4px */
}

h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}

a {
  color: #afafaf;
}
